<section>
  <h4>Today is {{today}}</h4>

  <h4>Today is {{today|date|uppercase}}</h4>
  
  <h5>Time is {{time}}</h5> 
  <h4>Search results for Programming</h4>
  <input type="text" [(ngModel)] = "searchInput" name="searchInput" placeholder="Search for programming courses offered.">
  
  <article>
  
  
  <ul>
  
  <li *ngFor="let progLang of programmingLang|search:searchInput">
  
  {{progLang}}
  
  </li>
  </ul>
  
  </article>
  </section>

<section>
  <h4>Search results for Programming</h4>
  <input type="text" [(ngModel)] = "bookInput" name="bookInput" placeholder="Search for books."
  size="50">
  <article>
  
  
  <ul>
  
  <li *ngFor="let book of books|search:bookInput">
  
  {{book}}
  
  </li>
  </ul>
  
  </article>
  </section>

  <section>
<article>
  <ol>
    <li *ngFor ="let b of books">

      <a href ="#">{{b}}</a>

    </li>
  </ol>

</article>
</section>
<section>
  <hr>
  <article>
  <h3>Entire catalog of books:</h3>
  <ol>
  <li *ngFor="let a of authors">
  <a href="#"> {{a.title}}</a>
  <ul>
  <li>Author Name:{{a.name}}</li>
  <li>Email:{{a.email}}</li>
  <li>Address:{{a.address}}</li>

  <li *ngFor ="let c of a.cars" [ngSwitch] = "c">

    <div *ngSwitchCase = "'BMW'"> <a href ="https://www.bmw.com/en/index.html">{{c}}</a></div>
    <div *ngSwitchCase = "'Audi'"><a href ="https://www.audiusa.com/us/web/en/inside-audi/innovation/audi-sport.html">{{c}}</a></div>
    <div *ngSwitchCase = "'Volkswagon'"><a href ="https://www.bmw.com/en/index.html">{{c}}</a></div>
    <div *ngSwitchCase = "'Ferrari'"><a href ="https://www.bmw.com/en/index.html">{{c}}</a></div>
    <div *ngSwitchCaseFault> Something went Wrong</div>  
   
  
  </ul>
</li>
  
  </ol>
  <hr>
  </article>
  </section>